@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This is my summer project to continue my learning while not taking classes. My goal here is to learn the basics of the ASP.NET
    and Entity Frameworks using MVC pattern, while creating a functinal web application that stores it users Board Game Collection data.
    So far in my offical schooling I have not created anything other than assiginments to show to potential employers.
    This project hopefully will be a fully fledeged "product" that will ideally showcase some things I know as well as my drive to learn and create.
</p>   
<h3>Project Goals/Functions)</h3>
<ul>
    <li>Library Managment: add, remove, clear, sort and query.</li>
    <li>Data is presented neatly</li>
    <li>User/Admin Logins</li>
    <li>data Saved to Db.</li>
    <li>mobile friendly</li>

</ul> 
<h3>Other Features</h3>
<ul>
    <li>More Detailed Game Information(advanced queries)</li>
    <li>Game data pulled from 3rd party (BoardGameGeek API)</li>
    <li>Connected Users...Opt in to view other users Library</li>
    <li>Play Tracking</li>
        <ul>
            <li>log specific instances of game plays</li>
            <li>track users scores per game</li>
            <li>Current Champion tracker per game</li>
            <li>Scores compared to connected users</li>
        </ul>
</ul> 



<h5>The base of this project as of 6/26 was created by following Microsofts .net tutorials while tailoring the data to my needs.</h5>

<h5>Please excuese the basic html stylings, I have little intrest in html and css design.</h5> 