@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Board Game Buddy</h1>
    <p class="lead">Collection and Tracking Application.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Board Game Buddy!</h2>
        <p>
            This project is my means of learning .NET MVC and Entity Framework.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Holler at my source code!</h2>
        <p>
            See my repository, Ryan Learn more about github branches and multiple users for when this is hosted. Also while your here read some Db theory to make good tables.     
        </p>
        <p><a class="btn btn-default" href="https://github.com/leederacola/BGB_MVC">My Github Repo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trello / Organization</h2>
        <p>Was updating todo list in notes file for days when I have baby and can only code in small bits.  Made a Trello Board to help my stay focused and organized. Check it out.
        </p>
        <p><a class="btn btn-default" href="https://trello.com/b/FnRQ9Hij/board-game-buddy">Trello Board &raquo;</a></p>
    </div>
</div>