@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Board Game Buddy</h1>
    <p class="lead">Collection and Tracking Application.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Board Game Buddy!</h2>
        <p>
            This project is my means of learning .NET MVC and Entity Framework.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Holler at my source code!</h2>
        <p>
            See my repository, witness my growth. See my slop.     
        </p>
        <p><a class="btn btn-default" href="http://github.com">My Github Repo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Place Holder Text</h2>
        <p>Proin hendrerit tincidunt nulla, elementum tempor lorem ullamcorper ut. Maecenas posuere malesuada turpis,
            at feugiat turpis tristique nec. In hac habitasse platea dictumst. Pellentesque mauris odio, pretium in eros sed,
            sollicitudin consequat turpis. Nam eu dui mi. Nunc cursus eros nec libero finibus viverra. Ut a augue consequat,
            fermentum metus eleifend, faucibus odio. Phasellus accumsan accumsan mi nec maximus. Duis at lectus at dui
            hendrerit luctus.
        </p>
        <p><a class="btn btn-default" href="http://www.lipsum.com/">Get some Here! &raquo;</a></p>
    </div>
</div>